{# templates/blog/show.html.twig #}
{% extends "base.html.twig" %}

{% block title %}
	{{ article.title }}
{% endblock %}

{% block content %}
	<article class="container">
		<div class="row">
			<div class="col s12 m12 l8 offset-l2">
				<h2>{{ article.title }}</h2>
				{% if article.isPublished %}
					<span>{{ article.publishedAt|date('d/m/Y H:i') }}</span>
				{% endif %}
				{% if app.user %}
					<p>
						<a href="{{ path('article_edit', {'id': article.id}) }}" class="btn btn-primary">Editer</a>
					</p>
				{% endif %}
				<p>
					<img src="{{ asset('uploads/' ~ article.picture) }}" class="responsive-img">
				</p>
				<div style="display:flex">
					{% for category in article.categories %}
						<span class="new badge blue" data-badge-caption="{{ category.label }}"></span>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12 l8 offset-l2">
				<p>
					{{ article.content }}
				</p>
			</div>
		</div>
		{% include "includes/comment_form.html.twig" %}
		{% include "includes/comment_list.html.twig" with {'comments': article.comments} %}
	</article>
{% endblock %}
